<div class="container p-5 my-5 bg-light rounded-3 col-6">
  <h2>Sign In</h2>
  <%= form_with url: sign_in_path do |form| %>    
    <div class="mb-3">
      <%= form.label :email %>
      <%= form.text_field :email, class: "form-control", placeholder: "email@email.com" %>
    </div>
    <div class="mb-3">
      <%= form.label :password %>
      <%= form.password_field :password, class: "form-control", placeholder: "password" %>
      <%= link_to "Forgot your password?", password_reset_path %>
    </div>
    <%= form.submit "Sign in", class: "btn btn-primary" %>
  <% end %>
</div>